---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Post from '../components/Post.astro';
import ColorScript from '../components/ColorScript.astro';
import SmallRotation from '../components/SmallRotation.astro';

import { SITE_TITLE, SITE_DESCRIPTION } from '../config';

import { getCollection } from "astro:content";
const posts = await getCollection("blog");

const topPosts = posts
	.filter(p => p.data.top)
	.sort((a, b) => a.data.order - b.data.order)
	
const restPosts = posts
	.filter(p => !p.data.top)
	.sort((a, b) => new Date(b.data.added).valueOf() - new Date(a.data.added).valueOf())

---

<!DOCTYPE html>
<html lang="en-us">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			ul {
				list-style-type: none;
				padding: unset;
			}
			ul li {
				display: flex;
			}
			hr {
				border: 0;
  			border-top: 1px dashed var(--gray);
				margin: 2em 0;
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<content>
				<ul>
          {topPosts.map(
          (post: any) => (
          	<Post
							url={"/post/" + post.id}
							date={post.data.date}
							title={post.data.title}
							tags={post.data.tags}
							top={post.data.top}
						/>
          ))}
        </ul>
				<hr />
				<ul>
          {restPosts.map(
          (post: any) => (
						<Post
							url={"/post/" + post.id}
							date={post.data.date}
							title={post.data.title}
							tags={post.data.tags}
							top={post.data.top}
						/>
          ))}
        </ul>
			</content>
		</main>
		<Footer />
		<SmallRotation />
		<ColorScript />
	</body>
</html>
