---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Post from '../components/Post.astro';
import ColorScript from '../components/ColorScript.astro';
import SmallRotation from '../components/SmallRotation.astro';

import { SITE_TITLE, SITE_DESCRIPTION } from '../config';

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = await Astro.glob('../posts/*.{md,mdx}')

const topPosts = posts
	.filter(p => p.frontmatter.top)
	.sort((a, b) => a.frontmatter.order - b.frontmatter.order)
	
const restPosts = posts
	.filter(p => !p.frontmatter.top)
	.sort((a, b) => new Date(b.frontmatter.added).valueOf() - new Date(a.frontmatter.added).valueOf())
---

<!DOCTYPE html>
<html lang="en-us">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			ul {
				list-style-type: none;
				padding: unset;
			}
			ul li {
				display: flex;
			}
			hr {
				border: 0;
  			border-top: 1px dashed var(--gray);
				margin: 2em 0;
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<content>
				<ul>
          {topPosts.map(
          ({url, frontmatter: { description, slug, title, added: date, top }}) => (
          	<Post {url} {description} {date} {slug} {title} {top} />
          ))}
        </ul>
				<hr />
				<ul>
          {restPosts.map(
          ({url, frontmatter: { description, slug, title, added: date, top }}) => (
          	<Post {url} {description} {date} {slug} {title} {top} />
          ))}
        </ul>
			</content>
		</main>
		<Footer />
		<SmallRotation />
		<ColorScript />
	</body>
</html>
