---
import PostHog from "../components/posthog.astro";
import "../global.css";

export interface Props {
  title: string;
  description: string;
  image?: string;
}

const { title, description, image = "/og-image.jpg" } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<meta name="generator" content={Astro.generator} />

<!-- Primary Meta Tags -->
<title>{"Blog - " + title}</title>
<meta name="title" content={"Blog - " + title} />
<meta name="description" content={description} />

<!-- Open Graph -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta name="twitter:creator" content="@kdang2020" />
<meta name="twitter:image" content={new URL(image, Astro.url)} />

<!-- Integrate PostHog with Astro -->
<PostHog />

<!-- https://astro.build/blog/future-of-astro-zero-js-view-transitions -->
<style>
@view-transition {
  navigation: auto; /* enabled! */
}
</style>

<!-- Theme -->
<script is:inline>
const primaryColorScheme = "none"; // "light" | "dark" | "none"
const darkModeMediaQuery = window.matchMedia(
  "(prefers-color-scheme: dark)",
).matches;
// Get theme data from local storage
const currentTheme = localStorage.getItem("theme");
let theme;
// Set theme to 'theme-dark' if currentTheme is 'dark'
if (currentTheme) {
  theme = currentTheme === "dark" ? "theme-dark" : "";
} else {
  // If primary color scheme is dark
  // or primary color scheme is not set and prefers-color-scheme is dark
  // choose dark mode
  if (
    primaryColorScheme === "dark"
    || (primaryColorScheme === "none" && darkModeMediaQuery)
  ) {
    theme = "theme-dark";
  } // If primary color scheme is light
  // choose light mode
  else if (primaryColorScheme === "light") {
    theme = "";
  } // fallback to prefers-color-scheme
  else {
    theme = darkModeMediaQuery ? "theme-dark" : "";
  }
}
// Put dark class on html tag to enable dark mode
document.querySelector("html").className = theme;
</script>
