---
// import Tag from './Tag.astro';
const { slug, title, tags, description, date, top } = Astro.props;
---

<li class="post-item">
  { top && <span class="top-tag">top</span> }
  <a href={`/post/${slug}/`} class="title">{title}</a>
  <time datetime={date}>
    {date && new Date(date).toLocaleDateString('en-us', {
      year: 'numeric',
      month: 'short',
      day: 'numeric',
    })}
  </time>
  <!-- <br />
  {description && <span class="excerpt">{description}</span>} -->
  <span>
		{ tags && tags.map((tag) => (
        <a class="tag-link" href={`/tag/${tag}`}>
          #{tag}
        </a>
		  ))
		}
	</span>
</li>
<style>
  .post-item {
    margin: 1.2em 0;
  }
  .post-item:hover {
    transform: scale(1.05);
    transform-origin: left;
  }
  .post-item .top-tag {
    border: 1px solid var(--orange);
    color: var(--orange);
    font-size: 13px;
    padding: 1px 4px;
    margin-right: 8px;
    border-radius: 4px;
    font-style: italic;
  }
  .post-item .tag-link {
    color: var(--purple);
  }
  .post-item time {
    padding-left: 8px;
    font-size: 14px;
    font-style: italic;
    color: var(--gray);
  }
</style>
