---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import Post from "../../components/Post.astro";
import ColorScript from "../../components/ColorScript.astro";
import SmallRotation from '../../components/SmallRotation.astro';
import { getCollection } from "astro:content";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../config";

export async function getStaticPaths() {
	let posts = await getCollection("blog");
	const tags = posts.reduce((allTags, post) => {
		const postTags = post.data.tags;
		if (postTags) {
			postTags.forEach((tag) => {
				if (!allTags[tag]) {
					allTags[tag] = [];
				}
				allTags[tag].push(post);
			});
		}
		return allTags;
	}, {});

	return Object.keys(tags).map((t) => {
		return {
			params: { tag: t },
			props: { tag: tags[t] },
		};
	});
}

const { tag } = Astro.props;
const tagPosts = tag.sort((a, b) => new Date(b.data.added).valueOf() - new Date(a.data.added).valueOf());
const { tag: currentTag } = Astro.params;
---

<!DOCTYPE html>
<html lang="en-us">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			ul {
				list-style-type: none;
				padding-left: 1em;
			}
			ul li {
				display: flex;
			}
			.tag-name {
				font-style: italic;
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<content>
				<h3>Posts tagged with "<span class="tag-name">{currentTag}</span>"</h3>
				<ul>
					{
						tagPosts.map(
							(post: any) => (
							<Post
								url={"/post/" + post.id}
								date={post.data.date}
								title={post.data.title}
								tags={post.data.tags}
								top={post.data.top}
							/>
						))
					}
				</ul>
			</content>
		</main>
		<Footer />
		<ColorScript />
		<SmallRotation />
	</body>
</html>
