---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import Post from "../../components/Post.astro";
import ColorScript from "../../components/ColorScript.astro";
import SmallRotation from '../../components/SmallRotation.astro';

import { getCollection } from "astro:content";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../config";

export async function getStaticPaths() {
	const allPosts = await getCollection("blog");
	const uniqueTags = [...new Set(allPosts.map((post:any) => post.data.tags ?? []).flat())];

	return uniqueTags.map((tag:string) => {
		const filteredPosts = allPosts
			.filter((post:any) => post.data.tags ? post.data.tags.includes(tag) : false)
			.sort((a:any, b:any) => new Date(b.data.added).valueOf() - new Date(a.data.added).valueOf());

		return {
			params: { tag },
			props: { posts: filteredPosts },
		};
	});
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<!DOCTYPE html>
<html lang="en-us">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			ul {
				list-style-type: none;
				padding-left: 1em;
			}
			ul li {
				display: flex;
			}
			.tag-name {
				font-style: italic;
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<content>
				<h3>Posts tagged with "<span class="tag-name">{tag}</span>"</h3>
				<ul>
					{
						posts.map(
							(post: any) => (
							<Post
								url={"/post/" + post.id}
								date={post.data.added}
								title={post.data.title}
								tags={post.data.tags}
								top={post.data.top}
							/>
						))
					}
				</ul>
			</content>
		</main>
		<Footer />
		<ColorScript />
		<SmallRotation />
	</body>
</html>
