---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ColorScript from "../components/ColorScript.astro";
import SmallRotation from '../components/SmallRotation.astro';

export interface Props {
	content: {
		title: string;
		description: string;
		added?: string;
		updatedDate?: string;
		heroImage?: string;
	};
}

const {
	content: { title, description, added, updatedDate, heroImage },
} = Astro.props as Props;
---

<html>
	<head>
		<BaseHead title={title} description={description} />
		<style>
			.title {
				font-size: 2em;
				margin: 0.25em 0 0;
			}
			hr {
				border: 0;
  			border-top: 1px solid var(--gray);
				margin: 1rem 0;
			}
			.update-time {
				font-style: italic;
				font-size: 14px;
				opacity: .8;
			}
		</style>
	</head>

	<body>
		<Header />
		<main data-pagefind-body>
			<article>
				{heroImage && (
					<img
						width={720}
						height={360}
						src={heroImage}
						alt=""
					/>
				)}
				<h1 class="title" data-pagefind-meta="title">{title}</h1>
				{added && <time>{added}</time>}
				{updatedDate && <div class="update-time">Last updated on <time>{updatedDate}</time></div>}
				<hr />
				<slot />
			</article>
		</main>
		<Footer />
		<SmallRotation />
		<ColorScript />
	</body>
</html>
