---
import BaseHead from "../components/BaseHead.astro";
import ColorScript from "../components/ColorScript.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import PostComments from "../components/PostComments.astro";
import SmallRotation from "../components/SmallRotation.astro";

const {
  content: { title, description, added, updatedDate },
} = Astro.props;
---

<html>
  <head>
    <BaseHead title={title} description={description} />
    <style>
    .title {
      font-size: 2em;
      margin: 0.25em 0 0;
      color: var(--heading-color);
    }
    hr {
      border: 0;
      border-top: 1px solid var(--gray);
      margin: 1rem 0;
    }
    .update-time {
      font-style: italic;
      font-size: 14px;
      opacity: 0.8;
    }
    </style>
  </head>

  <body>
    <Header />
    <main data-pagefind-body>
      <article>
        <h1
          class="title"
          data-pagefind-meta="title"
          transition:name={"post-" + Astro.params.slug}
        >
          {title}
        </h1>
        {added && <time>{added}</time>}
        {updatedDate && (
          <div class="update-time">
            Last updated on <time>{updatedDate}</time>
          </div>
        )}
        <hr />
        <slot />
      </article>
      <PostComments />
    </main>
    <Footer />
    <SmallRotation />
    <ColorScript />
  </body>
</html>
